*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
